*, html, body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Background\ Product.png);
    background-size: 100% 1914px;
    background-repeat: no-repeat;
    background-position: 0px 100px;
}

/* Navbar Start */
.navbar {
    width: 100%;
    height: 100px;
    background-color: #FAFF3B;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo > a {
    color: #000000;
    font-size: 32px;
    text-decoration: none;
    font-family: 'OKASA';
}

.menu {
    margin-left: 70px;
    width: 707px;
    display: flex;
    justify-content: space-between;
}

.menu > a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Manga Temple';
}

#current-menu {
    color: #FF0000;
}

.menu > a:hover {
    color: #FF0000;
}

.hamburger {
    position: relative;
    display: block;
    width: 25px;
    cursor: pointer;
    background: none;
    border: none;
    margin: 10px 0px 10px 11px;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #F67B50;
    margin: 6px 0px;
}

.hamburger {
    display: none;
}

#responsive-menu {
    display: none;
}
/* Navbar End */

.food {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Manga Temple';
    color: #F9AB17;
}

.wrapper-food {
    width: 1150px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 375px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.box:hover {
    cursor: pointer;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.25));
}

.ramen-photo {
    margin-top: 16px;
    width: 200px;
    height: 166px;
}

.ramen-desc {
    width: 175px;
    margin-top: 4px;
}

.ramen-desc > h2 { 
    color: #F9AB17;
    font-weight: bold;
    font-size: 20px
}

.ramen-desc > p { 
    margin-top: 4px;
    font-size: 16px;
}

.rating-price {
    margin-top: 4px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-rating-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-rating-price > img {
    margin-right: 6px;
    width: 25px;
    height: 25px;
}

.right-rating-price {
    display: flex;
}

.left-rating-price > p {
    font-size: 20px;
}

.right-rating-price > p {
    font-size: 16px;
}

span {
    font-size: 18px;
    color: #00FF0A;
    font-weight: bold;
}

.drink {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-drink {
    width: 850px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Footer Start */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #EB6D18;
}

#middle {
    margin-left: 35px;
    margin-right: 35px;
}

.social-media img {
    cursor: pointer;
}

.footer > p {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab';
}
/* Footer End */

@media screen and (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../assets/Background\ Product.png);
        background-size: 100% 6130px;
        background-repeat: no-repeat;
        background-position: 0px 100px;
    }

    /* Responsive Menu Start */
    .menu {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        margin-right: 20px;
        display: block;
    }

    #current-menu {
        color: #FF0000 !important;
    }

    #responsive-menu {
        width: 100%;
        background-color: #FFE880;
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 100px;
    }

    #responsive-menu > a {
        text-decoration: none;
        color: #000000;
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #responsive-menu > a:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
    /* Responsive Menu End */

    .food {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .food h1 {
        margin-top: 30px;
    }

    .box {
        margin-top: 15px;
    }

    .wrapper-food {
        width: 300px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper-drink {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 300px){
    .logo img {
        width: 75px;
    }

    .logo > a {
        font-size: 24px;
    }

    .footer > p {
        font-size: 12px;
        text-align: center;
    }
}